.musko
{
	margin: 0px 0px 0px 0px;
	padding: 0px;
	color: blue;
}

.zensko
{
	margin: 0px 0px 0px 0px;
	padding: 0px;
	color: pink;
}

.jd
{
	margin: 0px 0px 0px 0px;
	padding: 0px;
	color: yellow;
}
